{% extends 'main.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form name="formChange-password" id="formChange-password" method="post" action="/password/">
            <div class="container">
                {% csrf_token %}
                <div class="screen">
                    <div class="screen__content">
                        <form class="login">
                            <h1 class="login__title">Troca de Senha</h1>

                            <div class="login__field">
                                <i class="login__icon fas fa-user"></i>
                                <input class="login__input" type="password" name="new_password1" id="new_password1" placeholder="Senha Nova:">
                            </div>

                            <div class="login__field">
                                <i class="login__icon fas fa-user"></i>
                                <input class="login__input" type="password" name="new_password2" id="new_password2" placeholder="Confirme a Senha Nova:">
                            </div>

                            {% if msg %}
                                <div class="alert {{class}}">
                                    {{msg}}
                                </div>
                            {% endif %}
                            <button class="button login__submit">
                                <span class="button__text">Alterar</span>
                            </button>				
                        </form>
                        <div class="by">
                            <h3>by.julio</h3>
                        </div>
                    </div>		
                </div>
            </div>
        </form>
    {% else %}
        Acesso negado! <a href="/painel/">Realize o login</a> para poder entrar.
    {% endif %}
    {% endblock %}