{% extends 'main.html' %}

{% block content %}
<form name="form-users" id="formUsers" method="post" action="/store/">
    <div class="container">
        {% csrf_token %}
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <h1 class="login__title">Cadastrar-se</h1>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input" type="text" name="name" id="name" placeholder="Nome:">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input" type="text" autocomplete="off" maxlength="14" name="cpf" id="cpf"
                            placeholder="CPF:">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input class="login__input" type="text" autocomplete="off" maxlength="14" name="pis" id="pis"
                            placeholder="PIS:">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input" type="email" name="email" id="email"
                            placeholder="Digite seu E-mail:">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input" type="password" name="password" id="password"
                            placeholder="Crie uma senha:">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input" type="password" name="password-conf" id="password-conf"
                            placeholder="Confirme a senha:">
                    </div>
                    {% if msg %}
                    <div class="alert {{class}}">
                        {{msg}}
                    </div>
                    {% endif %}
                    {% if msg2 %}
                    <div class="alert2 {{class}}">
                        {{msg2}}
                    </div>
                    {% endif %}
                    <button class="button login__submit">
                        <span class="button__text">Cadastrar</span>
                    </button>
                    <div class="by">
                        <h3>by.julio</h3>
                    </div>
                </form>
            </div>
        </div>
        <d  iv class="screen2">
            <div class="screen__content2">
                <form class="login2">
                    <h2 class="login__title2">Endereço</h2>

                    <div class="login__field2">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2" type="text" name="pais" id="pais" placeholder="País:">
                    </div>
                    <div class="login__field2">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2" type="text" name="municipio" id="municipio"
                            placeholder="Município:">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2" type="text" name="uf" id="uf" maxlength="2"
                            placeholder="Estado (UF):">
                    </div>
                    <div class="login__field2">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2rua" type="text" name="rua" id="rua" placeholder="Rua:"><br>
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2" type="text" autocomplete="off" maxlength="9" name="cep" id="cep"
                            placeholder="CEP:">
                    </div>
                    <div class="login__field2">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2" type="number" name="num" id="num" placeholder="Número:">
                        <i class="login__icon fas fa-user"></i>
                        <input class="login__input2" type="text" name="complemento" id="complemento"
                            placeholder="Complemento:">
                    </div>
                </form>
            </div>
        </d>
    </div>
</form>
<script src="app/static/js/javascript.js"></script>
{% endblock %}