{% extends 'main.html' %}

{% block content %}
    <form name="form-users" id="formUsers" method="post" action="/store/">
        <div class="container">
            {% csrf_token %}
            <div class="screen">
                <div class="screen__content">
                    <form class="login">
                        <div class="login__field">
                             <h1 class="login__title">Cadastrar-se</h1>
                            <i class="login__icon fas fa-user"></i>
                            <input class="login__input" type="text" name="name" id="name" placeholder="Nome:">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input class="login__input" type="text" name="user" id="user" placeholder="Nome de Usuário:">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input class="login__input" type="email" name="email" id="email" placeholder="Digite seu E-mail:">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input class="login__input" type="password" name="password" id="password" placeholder="Crie uma senha:">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input class="login__input" type="password" name="password-conf" id="password-conf" placeholder="Confirme a senha:">
                        </div>
                        {% if msg %}
                            <div class="alert {{class}}">
                                {{msg}}
                            </div>
                        {% endif %}
                        {% if msg2 %}
                            <div class="alert2 {{class}}">
                                {{msg2}}
                            </div>
                        {% endif %}
                        <button class="button login__submit">
                            <span class="button__text">Cadastrar</span>
                        </button>				
                    </form>
                    <div class="by">
                        <h3>by.julio</h3>
                    </div>
                </div>		
            </div>
        </div>
    </form>
    {% endblock %}