{% extends 'main.html' %}

{% block content %}
    <form name="formPainel" id="formPainel" method="post" action="/dologin/">
        <div class="container">
            {% csrf_token %}
            <div class="screen">
                <div class="screen__content">
                    <form class="login">
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input class="login__input" type="text" name="user" id="user" placeholder="Usuário:">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input class="login__input" type="password" name="password" id="password" placeholder="Senha:">
                        </div>
                        {% if msg %}
                            <div class="alert {{class}}">
                                {{msg}}
                            </div>
                        {% endif %}
                        <button class="button login__submit">
                            <span class="button__text">Entrar</span>
                        </button>				
                    </form>
                    <div class="by">
                        <h3>by.julio</h3>
                    </div>
                </div>		
            </div>
        </div>
    </form>
    {% endblock %}